{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> Lista de Funcionários
            </div>
            <a class="btn btn-success" href="{% url 'employee_add' %}">Adicionar Funcionário</a>
            <div class="card-body">
                <div class="table-responsive">
                    <table
                            id="example"
                            class="table table-striped data-table"
                            style="width: 100%"
                    >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Departamento</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.nome }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.department}}</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'employee_edit' employee.id %}">Editar</a>
                                <a class="btn btn-danger" href="{% url 'employee_delete' employee.id %}"
                                   onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}