{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}